body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Urbanist", sans-serif;
}

#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #469e86;
  font-size: 28px;
  padding-left: 20px;
  font-weight: 700;
  letter-spacing: -1px;
}

#header-button {
  width: 150px;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  font-weight: 700;
}

#content-bottom {
  background-image: url("images/background.jpg");
  background-position: center center;
  background-size: cover;
  grid-row-start: 2;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end: 13;
  display: block;
  justify-content: space-around;
  align-items: center;
}

#text-content {
  color: #ffffff;
  text-align: center;
}

#content-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-blanc {
  background-color: #ffffff;
  width: 350px;
  height: 450px;
  margin: 100px;
  border-radius: 10px;
  border: none;
}

#travel-search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.element-travel-search {
  width: 80%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: 545556;
  background-color: #f1f2f3;
  font-size: 14px;
  margin: 0 auto;
}

#btn-search {
  background-color: #469e86;
  color: #ffffff;
  width: 90%;
  cursor: pointer;
}

#type-departure {
  margin-bottom: -90px;
}

#date-selection {
  margin-top: -40px;
}

#display-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.picto {
  width: 150px;
  height: auto;
}

.ligne-verte {
  width: 200px;
  border-bottom: 4px #469e86 solid;
}

.picto,
.ligne-verte,
.quote-train {
  margin-bottom: 30px;
}

.element-travel-book {
  width: 80%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: 545556;
  background-color: #f1f2f3;
  font-size: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.btn-book {
  background-color: #469e86;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
